body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
header {
  background-color: rgb(30, 207, 74);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.menu ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}
.logo-name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.Logo-menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn-primary {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}
.btn-secondary {
  background-color: white;
  color: blue;
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid blue;
}
footer {
  background-color: green;
}
.container {
  background-color: blue;
}
